.container {
  padding-left: 5rem;
  height: 80%;
  display: grid;
  gap: 1rem;
  grid-template-columns: 40% 70%;
  grid-template-rows: 20vh 70vh;
  grid-template-areas:
    "main-text main-image-container"
    "services-pictures main-image-container"
}

.main-text{
  margin-top: 2vh;
  grid-area: main-text;
}

.services-pictures{
  grid-area: services-pictures;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5vh;
}

.main-image-container {
  grid-area: main-image-container;
  margin-left: 15vh;
}

.main-text{
  text-align: center;
}


h2 {
  font-family: var(--font-family);
  font-weight: 900;
  font-size: 1.5rem;
  color: var(--secondary-color);
}

p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 1rem;
  color: var(--primary-color);
}

.main-image{
  width: 80vh;
  height: 100vh;
  transition: transform 0.3s ease;
}

.main-image:hover{
  transform: scale(1.1); 
}

.our-services{
  display: grid;
  grid-template-columns: auto auto;
  gap: 1rem;
  align-items: center;
}


.service-image{
  align-items: center;
  width: 40vh;
  height: 20vh;
}

/* Container principal */
.main-container {
    width: 25%;
    position: relative;
}

/* Estilo para a imagem */
.image {
    display: block;
    width: 40vh;
    height: auto;
}

/* Container da sobreposição */
.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.7);
    height: 0;
    width: 40vh;
    overflow: hidden;
    transition: height 0.5s ease;
}

/* Ao passar o mouse, a altura da sobreposição vai para 100% */
.main-container:hover .overlay {
    height: 100%;
}

/* Estilo para o texto dentro da sobreposição */
.text {
    padding: 20px;
    color: #fff;
    font-size: 20px;
    line-height: 1.4;
}